.Results {
  opacity: 0;
  width: 100vw;
  transition: all 0.5s ease-in;
  display: flex;
  justify-content: center;

  .Results--data {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-width: 1300px;

    @media (min-width: 700px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1020px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &--halfheight {
    display: flex;
    justify-content: center;
    height: 50%;
    opacity: 1;
  }

  &--fullheight {
    opacity: 1;
  }
}
